.user-info {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 30px;
    border: 1px solid #fff;
    padding: 10px 30px;
    background-color: white;
}

.nav-links {
    display:inline-flex;
}

.Match {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 30px;
    border: 1px solid #fff;
    padding: 10px 30px;
    background-color: var(--green);
}

.profile .grid-container {
    height: 92vh;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 60px;
}

.overflow {
    height: 80%;
    position: relative;
    overflow-y: scroll;
}

.nav-links .btn{
    font-size: 1.2rem;
    font-weight: 400px;
    color: var(--blue);
}

.my-user-profile {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 7%;
    border-radius: 15px;
    width: calc(100vh - 500px);
    margin:auto;
    margin-top: 50px;
}